html {
    min-height: 100%;
 }

body {
    background-color: rgba(16, 84, 104, 0.534);
    color: #0f0e0e;
    background-image: url("bloomington.jpg");
    font-family: 'Courier New', Courier, monospace;
    width:500px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.heading {
    background-color:royalblue;
    color:seashell;
    width: 600px
}

#weather {
    background-color: royalblue;
    color:seashell;
    width:600px
}

#weathericon {
    width: 50px;
    height: 50px;
    background-color:rgba(141, 231, 238, 0.342);
    padding: 10px 20px;        
}

.box {
    position:relative;
    width: calc(400px - 20px);
    height: calc(300px - 10px);
    background:rgba(224, 175, 119, 0.925);
    box-sizing: border-box;
    margin: 20px;
    transition: width 1.5s;
    z-index: 1;
    color:royalblue;
}

#activities {
    background-color: salmon;
    color: seashell;
    font-weight: 900;
    font-size: 40px;
    width: 600px
}

#Bloomlink1 {
    background-color:bisque;
    width: 600px;
    font-size: 20px
}