html {
    min-height: 100%;
}

body {
    background-color: rgba(16, 84, 104, 0.534);
    color: #0f0e0e;
    background-image: url("Weather2.jpg");
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: rgb(230, 135, 46);
    width: 600px;
    color: seashell;
    font-style: oblique;
}

#weather {
    color:seashell;
    background-color: rgb(45, 104, 160);
    width: 600px;
}

#searchButton {
    background-color: rgb(105, 228, 56);
    padding: 7px 15px
}
    
form {
    padding: 12px 20px;
    text-align: center; 
    font-size: 16px;
    font-weight: 500;
    color: #77777793;
    border-radius: 0;
    box-shadow: inset 0 0 0 0 #FDBE33;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

#weathericon {
    width: 50px;
    height: 50px;
    background-color:rgba(116, 179, 231, 0.432);
    padding: 10px 20px;
    font-size: 0.73em;     
}

.celciusBtn {              
    display: grid;
    text-align: center; 
    justify-content: center;  
    align-items: center;  
}  
    
.FahBtn { 
    display: grid;
    text-align: center; 
    justify-content: center;  
    align-items: center;   
}

#f {  
    padding: 10px 20px;  
    height: 40px;          
    display: grid;
    text-align: center; 
    justify-content: center;  
    align-items: center;
    background-color: aquamarine;
    font-style:oblique;
    font-weight: bold;
} 

#c {  
 padding: 10px 20px;  
 height: 40px;          
 display: grid;
 text-align: center; 
 justify-content: center;  
 align-items: center;
 background-color: aqua;
 font-style: oblique;
 font-weight: bold;   
}   
    
.button {
    background-color: rgb(105, 228, 56);
    border: 2px solid #a8af4c;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration:burlywood;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;      
    margin-inline: 5px;
    font-style: oblique;
}

.box {
    position:relative;
    width: calc(400px - 20px);
    height: calc(250px - 10px);
    background:rgba(192, 189, 153, 0.747);
    box-sizing: border-box;
    margin: 20px;
    transition: width 1.5s;
    z-index: 1;
}

.box:hover {
        width: 400px;
 }

#errorname {
    box-sizing: border-box;
    background:rgba(194, 62, 62, 0.747);
    font-size: 16px;
    font-weight: bold;
    color: white;
}


